<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de drogas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Rejilla con filas y columnas -->
  <ion-grid>
    <ion-row>
      <!-- Bucle de columnas con *ngFor -->
      <ion-col *ngFor= "let drug of drugs | async">  
        <ion-card>
          <ion-card-content>

            <img [src]= "src/assets/icon/lab.png">

            <h1> {{ drug.GenericName }} </h1>

          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>    
  </ion-grid>
</ion-content>
